body{
    font-family:sans-serif, Arial;
}

ul{
    margin:0;
    padding:0;
}
li{
    list-style:none;
    margin:0;
    padding:0;
    font-size:16px;
}

li:first-letter{
    text-transform:capitalize;
}

h1{
    margin-bottom:0;

}

small{

            text-align: center;
            opacity: 0.6;
}
img:temp-image{
    float:left;
    position:relative;
    bottom:10px;
}


.WeatherApp {
    max-width: 600px;
    padding: 30px;
    margin: 0 auto;
    border: 1px solid pink;
    border-radius: 10px;
    box-shadow: 5px 10px hotpink;
}

.weatherTemp{
    display:flex;
}

.temperature{
    float:left;
}

.forecast-weather{
    font-size:16px;
    text-align:center;
}

.forecast-weather-temperature{
    margin-top:5px;
}

.forecast-weather-temperature-min{
    font-size:13px;
    opacity:0.6;

}

#temperature{
    font-size:50px;
}

#city-name{
    width:300px
}

