body{
font-family: 'IBM Plex Mono', monospace;
}

ul{
    margin:0;
    padding:0;
}
li{
    list-style:none;
    margin:0;
    padding:0;
    font-size:16px;
}

li:first-letter{
    text-transform:capitalize;
}

h1{
    margin-bottom:0;

}

small{

           position:relative;
           left:500px;
            opacity: 0.6;
}
img:temp-image{
    float:left;
    position:relative;
    bottom:10px;
}

.search-button {
    background-color: hotpink;
    border: 1px hotpink solid;
    transition: all .3ms ease-in-out;
}

.btn-primary{
    --bs-btn-hover-bg: #ce6d88;
     --bs-btn-hover-border-color: #ce6d88;
}

.WeatherApp {
    max-width: 600px;
    padding: 30px;
    margin: 0 auto;
    border: 1px solid pink;
    border-radius: 10px;
    box-shadow: 5px 10px hotpink ;
}

.appName{
    color:#ce6d88;
    margin-bottom:20px;
    text-align:center;
}

.weatherTemp{
    display:flex;
}

.temperature{
    float:left;
}

.forecast-weather{
    font-size:16px;
    text-align:center;
    color: #ce6d88;
}

.forecast-weather-temperature{
    margin-top:5px;
}

.forecast-weather-temperature-min{
    font-size:13px;
    opacity:0.6;

}

#temperature{
    font-size:50px;
}

#city-name{
    width: 380px;
}

